.bisness {
  padding-left: 15px;
  @media (min-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    padding: 0;
  }
  @media (min-width: 1024px) {
    gap: 120px;
  }
}

.bisness-title {
  transform: translateY(0);
  margin-top: 120px;
  @media (min-width: 767px) {
    margin: 0;
    font-size: 24px;
  }
  @media (min-width: 1439px) {
    font-size: 36px;
  }
}

.bisness-description {
  width: 340px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: $darker-blue;
  font-size: 12px;
  font-weight: 400;
  @media (min-width: 1439px) {
    font-size: 18px;
    width: 550px;
  }
}

.emoji_icon {
  margin-top: 20px;
  margin-bottom: 70px;
  @media (min-width: 767px) {
    margin: 0;
  }
  @media (min-width: 1439px) {
    width: 667px;
    height: 556px;
    flex-shrink: 0;
    margin-left: 10px;
  }
}
