.footer {
  width: 100vw;
  background-color: $darker-blue;
  margin-top: 150px;
  padding-bottom: 50px;
  @media (min-width: 1024px) {
    margin-top: 0;
  }
}

.footer__offering {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  padding-top: 30px;
  @media (min-width: 767px) {
    font-size: 24px;
    text-align: left;
    margin-left: 50px;
  }
  @media (min-width: 1439px) {
    font-size: 36px;
    margin-left: 150px;
  }
}

.footer__info-link {
  color: $lighter-blue;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-top: 15px;
  margin-bottom: 30px;
  @media (min-width: 767px) {
    font-size: 29px;
    text-align: left;
    margin-left: 50px;
  }
  @media (min-width: 1439px) {
    font-size: 48px;
    margin-left: 150px;
  }
}

.footer__decoration-line {
  width: 340px;
  height: 0.5px;
  background: $lighter-blue;
  margin: 0 auto;
  @media (min-width: 767px) {
    width: 665px;
  }
  @media (min-width: 1024px) {
    width: 90vw;
  }
  @media (min-width: 1439px) {
    width: 79vw;
  }
}

.footer__btn {
  width: 275px;
  height: 60px;
  border-radius: 5px;
  background: $lighter-blue;
  display: block;
  margin: 30px auto 0px auto;
  color: #fff;
  font-size: 12px;
  font-weight: 800;
  border: none;
  transition: 0.3s;
  cursor: pointer;
  @media (min-width: 767px) {
    width: 340px;
  }
}

.footer__btn:hover {
  scale: 1.1;
  box-shadow: 5px 5px 0 0 black;
}

.footer__icon-wrapper {
  display: flex;
  width: 90px;
  gap: 20px;
  margin: 30px auto 0px auto;
  @media (min-width: 767px) {
    position: relative;
    top: -20px;
    margin: 0 50px 0 auto;
  }
  @media (min-width: 1439px) {
    font-size: 18px;
    margin: 0 auto 0 150px;
    width: 180px;
  }
}

.footer__icon {
  transition: 0.3s;
}

.footer__icon:hover {
  scale: 1.3;
}

.footer__address {
  width: 310px;
  margin: 40px auto 0px auto;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  @media (min-width: 767px) {
    width: 240px;
    position: relative;
    margin: 0 auto 0 50px;
    top: -70px;
    text-align: left;
  }
  @media (min-width: 1439px) {
    font-size: 18px;
    margin: 0 auto 0 150px;
    width: 300px;
  }
}

.footer__info {
  width: 160px;
  margin: 30px auto 0px auto;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  @media (min-width: 767px) {
    position: relative;
    margin: 0 auto 0 50px;
    text-align: left;
    top: -30px;
  }
  @media (min-width: 1439px) {
    font-size: 18px;
    margin: 0 auto 0 150px;
    width: 180px;
  }
}

.footer__logo {
  width: 156.597px;
  height: 55px;
  margin: 30px auto 0px auto;
  display: block;
}

.footer__licence {
  display: block;
  width: 221px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  margin: 25px auto 0px auto;
  @media (min-width: 1439px) {
    width: fit-content;
    font-size: 14px;
  }
}

.footer__politic-conf {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  display: block;
  width: 202px;
  margin: 30px auto 0px auto;
  @media (min-width: 1439px) {
    font-size: 14px;
    width: 240px;
  }
}
